/* pre[class*=language-] {
    background-color: antiquewhite;
    color: black
} */

.custom-shell-output .absolute {
    display: none
}

table.options-table tr td:first-child {
    white-space: nowrap;
}